# Challenge 1: Titanic - Machine Learning From Disaster

### Khai báo thư viện

In [1]:
import os, sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython import display
import joblib

from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier

from sklearn.model_selection import train_test_split

### Nạp dữ liệu

In [5]:
save_dir = "../exps/data"

df_train = pd.read_excel(f"{save_dir}/train.xlsx")
df_valid = pd.read_excel(f"{save_dir}/valid.xlsx")

In [4]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,332,0,1,"Partner, Mr. Austen",1,0.566474,0,0,113043,0.055628,56,2
1,734,0,2,"Berriman, Mr. William John",1,0.283740,0,0,28425,0.025374,147,2
2,383,0,3,"Tikkanen, Mr. Juho",1,0.396833,0,0,STON/O 2. 3101293,0.015469,147,2
3,705,0,3,"Hansen, Mr. Henrik Juul",1,0.321438,1,0,350025,0.015330,147,2
4,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",0,0.070118,4,2,347082,0.061045,147,2

In [6]:
df_valid.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,710,1,3,"Moubarek, Master. Halim Gonios (""William George"")",1,0.346569,1,1,2661,0.029758,147,0
1,440,0,2,"Kvillner, Mr. Johan Henrik Johannesson",1,0.384267,0,0,C.A. 18723,0.020495,147,2
2,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",1,0.246042,0,0,SOTON/O2 3101287,0.015469,147,2
3,721,1,2,"Harper, Miss. Annie Jessie ""Nina""",0,0.070118,0,1,248727,0.064412,147,2
4,40,1,3,"Nicola-Yarred, Miss. Jamila",0,0.170646,1,0,2651,0.021942,147,0

### Tách X, y

In [ ]:
X_train = df_train.drop("Survived", axis=1)
X_train = X_train.drop("Name",axis=1)

y_train = df_train["Survived"]

X_valid = df_valid.drop("Survived", axis=1)
X_valid = X_valid.drop("Name", axis=1)
y_valid = df_valid["Survived"]

print(f"Train shape: {X_train.shape}, Valid shape: {X_valid.shape}")

Train shape: (712, 10), Valid shape: (179, 11)

### Lựa chọn mô hình

In [11]:
models = {
    ('Logistic Regression', LogisticRegression(max_iter=1000)),
    ('Decision Tree', DecisionTreeClassifier(random_state=42)),
    ('Random Forest', RandomForestClassifier(random_state=42)),
    ('SVM', SVC(probability=True)),
    ('Gradient Boosting', GradientBoostingClassifier(random_state=42)),
    ('XGBoost', XGBClassifier(use_label_encoder=False, eval_metric='logloss'))
}

### Huấn luyện và đánh giá từng mô hình

In [16]:
results = []

for name,model in models:
    model.fit(X_train,y_train)
    y_pred = model.predict(X_valid)

    acc = accuracy_score(y_valid, y_pred)
    prec = precision_score(y_valid, y_pred)
    rec = recall_score(y_valid, y_pred)
    f1 = f1_score(y_valid, y_pred)

    results.append([name, acc, prec, rec, f1])
    print(classification_report(y_valid, y_pred, digits=4))

ValueError: could not convert string to float: 'STON/O 2. 3101293'

In [ ]:
df_results = pd.DataFrame(results, columns=["Model", "Accuracy", "Precision", "Recall", "F1"])
df_results = df_results.sort_values(by="F1", ascending=False)
display(df_results)